

.profile-banner {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
  position: relative;
  background-color: #638ae4;
  box-shadow: 2px 0px 4px rgba(0,0,0,0.1);
}

.avatar-container {
  height: 300px;
  text-align: center;
}

.profile-avatar {
  width: 150px;
  position: relative;
  margin: 0px auto;
  margin-top: 156px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  margin-left: 30vh;
}

.profile-actions {
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  margin-top: -14vh;
  margin-right: 6vh;
}

.btn{
  margin: 4px;
}

.buttonNav{
  background-color: rgb(49, 49, 49);
  height: 10vh;
}

.user-button {
  margin: 15px 0;
}

.usercard{
  margin-top: 2vh;
  margin-left: 30vh;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 0.5px solid rgba(17, 16, 16, 0.2);
}

.aboutUser{
  padding:5px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: rgb(49, 49, 49);
  border: 0.5px solid white;
  
}

.aboutUserDetailcard{
  padding: 10px;
}











