.container{
    margin-top: 15vh;
}

.contBody{
    margin-left: 50vh;
}

@media screen and (max-width: 1200px) {
    .contBody{
        margin-left: 25vh;
    }
}


@media screen and (max-width: 700px) {
    .contBody{
        margin-left: 0vh;
    }
  }